.backgroundImage {
    background-image: url("../images/bgtexture.jpg");
    background-repeat: repeat;
    background-position: center;
}

.white {
    background-color: white;
}

.whiteBorder {
    border: 8px solid white;
}
body{
    background-image: url("../images/bgtexture.jpg");
    
}

.ourteambox{
    margin-top: 4%;
    background-color:white;
    height: 80px;
    margin-bottom: 2%;
    
}
.ourteamtext{
        color: #5F002B;
        font-family: Fugaz One;
        font-size: 30px;
        text-align: center;
        padding-top: 1.5%;
}    
.AboutWbox{
    background-color:white;
    height: 647.5px;
    width: 670px;
    padding-right: 5%;
    padding-left: 10%;
    margin-left: 11rem;
    
    }   
.Abouttitle{
padding-top: 10px;
font-size: 40px;
font-family: Fugaz One;
color: #5F002B;
text-align: center;
margin-bottom: 0;


}

.nav-link{
    font-family: Fugaz One;
    color: #5F002B !important;
    font-size: 20px;
}
.logo{
background-image: url(../images/MuzzlesLogo.png);
width: 250px;
height: 92px;
}
.cateringhero{
    background-image: url(../images/cateringHero.jpg);
    height: 500px;
}


.ourteambox{
    margin-top: 4rem;
    background-color:white;
    height: 80px;
    
    
}
.ourteamtext{
        color: #5F002B;
        font-family: Fugaz One;
        font-size: 30px;
        text-align: center;
        padding-top: 1.5%;
}    
.AboutWbox{
    background-color:white;
    height: 675px;
    width: 800px; 
    }   
.Abouttitle{
padding-top: 10px;
font-size: 40px;
font-family: Fugaz One;
color: #5F002B;
text-align: center;
margin-bottom: 0;

}
.cateringtitle{
    padding-top: 10px;
    font-size: 30px;
    font-family: Fugaz One;
    color: #5F002B;
  
    margin-bottom: 0;
}
.AboutP{
 font-family: Montauk;
 color: #5F002B;
}
.nav-link{
    font-family: Fugaz One;
    color: #5F002B !important;
    font-size: 20px;
}
.logo{
background-image: url(../images/MuzzlesLogo.png);
width: 250px;
height: 92px;
}
.cateringhero{
    background-image: url(../images/cateringHero.jpg);
}
/* .navbar-light .navbar-toggler{
    color: rgba(0, 0, 0, 0.55)!important;
    border-color:rgba(0, 0, 0, 0.1)!important;
} */
/* .nav-link{ */
/* padding-right: 1.5rem;
padding-left: 1.5rem;
    } */
.WBox{
        background-color: white;
        height: 366px;
        padding-left: 20px;
        padding-right: 20px;
    }
.Font{
    font-family: Fugaz One;
   color: #5F002B;
}
.AboutP2{
    font-family: Montauk;
    color: #5F002B;
   }
  
 
   /* .navbar-toggler{ */
       /* background-color:#5F002B!important;
       border: 1 px solid white;
   }
 */

.removeMargin {
    margin: 0 !important;
}

.fugazFont {
    font-family: "Fugaz One";
    color: #5F002B !important;
}

.montaukFontParagraph {
    font-family: "Montauk-Regular";
    font-size: 10px;
    color: #5F002B;
}

.montaukFontParagraphPrice{
    font-family: "Montauk Regular";
    font-size: 20px;
    color: #5F002B;
}

.montaukFontParagraphTitle {
    font-family: "Montauk Regular";
    font-size: 20px;
    color: #5F002B;
}

.hrColor {
    color: #5F002B;
    
}

@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}


